

/* DARK OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

/* CONTENT */
.admin-container {
  position: relative;
  z-index: 2;
  padding: 40px;
  color: #d62525;
}

/* ===== SPARKLING TITLE ===== */
.sparkle-title {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 2px;
  margin-bottom: 40px;

  background: linear-gradient(
    90deg,
    #e28307,
    #ffffff,
    #18afc0,
    #ffffff,
    #ffd700
  );
  background-size: 400% 400%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: sparkleMove 3s linear infinite;
}

@keyframes sparkleMove {
  from { background-position: 0% 50%; }
  to { background-position: 100% 50%; }
}

/* ===== STATS GRID ===== */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-bottom: 40px;
}

/* ===== GLASS CARDS ===== */
.stat-card {
  backdrop-filter: blur(12px);
  background: rgba(233, 76, 76, 0.15);
  border-radius: 18px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.stat-card:hover {
  transform: translateY(-8px) scale(1.03);
}

.stat-card h3 {
  font-size: 18px;
  font-weight: 700;
}

.stat-card p {
  font-size: 28px;
  font-weight: 900;
  margin-top: 10px;
  color: #ceb31d;
}
/* ===== GRAPH CARD ===== */
.chart-card {
  margin-top: 40px;
  padding: 25px;
  border-radius: 20px;

  backdrop-filter: blur(14px);
  background: rgba(255, 255, 255, 0.15);

  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.45);
  color: #ffffff;
}

.chart-card h3 {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 15px;

  background: linear-gradient(90deg, #22c55e, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chart-card {
  margin-top: 40px;
  padding: 25px;
  border-radius: 20px;

  backdrop-filter: blur(14px);
  background: rgba(255, 255, 255, 0.15);

  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
  color: white;
}

.chart-card h3 {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 15px;

  background: linear-gradient(90deg, #22c55e, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chart-card canvas {
  max-width: 100% !important;
}



.admin-card {
  background: rgba(0,0,0,0.65);
  padding: 25px;
  border-radius: 18px;
}

.admin-title {
  color: #fff;
  margin-bottom: 15px;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 12px;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.role-badge.trainer {
  background: #22c55e;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
}

.empty-text {
  color: #bbb;
}

